pretrain/
__pycache__/
./model/fairseq/fairseq/criterions/__pycache__
./model/fairseq/fairseq/logging/__pycache__
./model/fairseq/fairseq/benchmark/__pycache__
./model/fairseq/fairseq/distributed/__pycache__
./model/fairseq/fairseq/scoring/__pycache__
./model/fairseq/fairseq/data/encoders/__pycache__
./model/fairseq/fairseq/data/huffman/__pycache__
./model/fairseq/fairseq/data/__pycache__
./model/fairseq/fairseq/data/multilingual/__pycache__
./model/fairseq/fairseq/data/audio/waveform_transforms/__pycache__
./model/fairseq/fairseq/data/audio/dataset_transforms/__pycache__
./model/fairseq/fairseq/data/audio/__pycache__
./model/fairseq/fairseq/data/audio/feature_transforms/__pycache__
./model/fairseq/fairseq/data/legacy/__pycache__
./model/fairseq/fairseq/modules/__pycache__
./model/fairseq/fairseq/modules/quantization/scalar/modules/__pycache__
./model/fairseq/fairseq/modules/quantization/scalar/__pycache__
./model/fairseq/fairseq/modules/quantization/pq/modules/__pycache__
./model/fairseq/fairseq/modules/quantization/pq/__pycache__
./model/fairseq/fairseq/modules/quantization/__pycache__
./model/fairseq/fairseq/dataclass/__pycache__
./model/fairseq/fairseq/tasks/__pycache__
./model/fairseq/fairseq/optim/__pycache__
./model/fairseq/fairseq/optim/lr_scheduler/__pycache__
./model/fairseq/fairseq/__pycache__
./model/fairseq/fairseq/model_parallel/criterions/__pycache__
./model/fairseq/fairseq/model_parallel/modules/__pycache__
./model/fairseq/fairseq/model_parallel/__pycache__
./model/fairseq/fairseq/model_parallel/models/pipeline_parallel_transformer/__pycache__
./model/fairseq/fairseq/model_parallel/models/roberta/__pycache__
./model/fairseq/fairseq/model_parallel/models/__pycache__
./model/fairseq/fairseq/config/__pycache__
./model/fairseq/fairseq/models/hubert/__pycache__
./model/fairseq/fairseq/models/xmod/__pycache__
./model/fairseq/fairseq/models/huggingface/__pycache__
./model/fairseq/fairseq/models/transformer/__pycache__
./model/fairseq/fairseq/models/roberta/__pycache__
./model/fairseq/fairseq/models/__pycache__
./model/fairseq/fairseq/models/speech_dlm/modules/__pycache__
./model/fairseq/fairseq/models/speech_dlm/__pycache__
./model/fairseq/fairseq/models/wav2vec/__pycache__
./model/fairseq/fairseq/models/speech_to_speech/modules/__pycache__
./model/fairseq/fairseq/models/speech_to_speech/__pycache__
./model/fairseq/fairseq/models/nat/__pycache__
./model/fairseq/fairseq/models/text_to_speech/__pycache__
./model/fairseq/fairseq/models/bart/__pycache__
./model/fairseq/fairseq/models/ema/__pycache__
./model/fairseq/fairseq/models/speech_to_text/modules/__pycache__
./model/fairseq/fairseq/models/speech_to_text/__pycache__
./model/fairseq/examples/__pycache__
./model/fairseq/examples/simultaneous_translation/modules/__pycache__
./model/fairseq/examples/simultaneous_translation/utils/__pycache__
./model/fairseq/examples/simultaneous_translation/__pycache__
./model/fairseq/examples/simultaneous_translation/models/__pycache__
./model/fairseq/examples/data2vec/data/__pycache__
./model/fairseq/examples/data2vec/tasks/__pycache__
./model/fairseq/examples/data2vec/__pycache__
./model/__pycache__
./model/Picking/__pycache__
